# General Dependencies
numpy
matplotlib
seaborn
PyMuPDF
python-dotenv
pillow
requests
tqdm

# AI / NLP
google-generativeai
openai
spacy
tiktoken

# Game Development
pygame

# Others
pandas
scipy
PyYAML
pydantic
